@import 'variables';

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $background;
    color: $light-text;
}

#root {
    background-color: white;
    margin: 0 auto;
    max-width: 1800px;
    box-shadow: 1px 1px 40px 1px black;
}

a {
    text-decoration: none;
}

@import 'normalize';
@import 'Navbar';
@import 'MainHeader';
@import 'QuoteDiv';
@import 'Content';
@import 'Contact';
@import 'mq';
