* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #1d130f;
    color: #3e3e3e;
}

#root {
    background-color: white;
    margin: 0 auto;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

@import 'normalize';
@import 'Navbar';
@import 'MainHeader';
@import 'QuoteDiv';
@import 'Content';
@import 'Contact';
@import 'mq';
