#content {
    margin: 0 15px;
}

#journal {
    border: 2px solid black;
    background-color: #F8ECC2;
}

.content-container {
    padding: 20px;
    h3 {
        margin: 0;
    }
}
.journal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.journal-content {
    padding-left: 20px;
    padding-right: 20px;
}