#content {
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    background-color: $off-white;
}

.content-container {
    padding: 20px;
    h3 {
        margin: 0;
        align-self: flex-start;
    }
    .date {
        align-self: flex-end;
    }
}
.journal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
}
.journal-content {
    padding-left: 20px;
    padding-right: 20px;
}