.jumbotron {
    color: white;
    text-align: center;
    position: relative;
    height: 100vh;
    background-image:linear-gradient(to bottom, rgba(40,42,54, .35),rgba(68,71,90, .25)), 
    url(../../img/jr-korpa-4GUhXYfabvs-unsplash.jpg); //Original photo by JR Korpa, submitted to Unsplash. https://unsplash.com/photos/4GUhXYfabvs
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    h1 {
        font-size: 3em;
    }
    p {
        font-size: 1.5em;
    }
}
.down-arrow {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    z-index: 1;
    span {
        font-size: 4em;
    }
}