@media(min-width: 768px) {
    #content {
        flex-direction: row;
    }
}

@media(min-width: 1024px) {
    .nav-toggle {
        display: none;
    }
    .desktop-nav {
        display: inline-block !important;
    }
    .main-nav {
        display: inline-block !important;
    }
}