@media(min-width: 768px) {
    .nav-title {
        margin: 0 auto;
    }
    .nav-toggle {
        display: none;
    }
    .desktop-nav {
        display: block;
    }
    .jumbotron {
        height: 600px;
    }
    #content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #journal,
    #upcoming {
        flex-basis: 49%;
    }
    #new-content {
        flex-basis: 100%;
    }
}

@media(min-width: 1024px) {
    .jumbotron {
        height: 800px;
        h1 {
            font-size: 4em;
        }
        p {
            font-size: 2em;
        }
    }
    .nav-container {
        display: flex;
        justify-content: space-between;
    }
    .main-nav {
        height: auto;
    }
    .nav-title {
        margin-left: 0;
    }
    .desktop-nav {

        flex-basis: 80%;
    }
    .desktop-nav-list li {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #journal,
    #upcoming,
    #new-content {
        flex-basis: 33%;
    }
    #content {
        margin-bottom: 30px;
    }
}
