@media(min-width: 768px) {
    #content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #journal,
    #upcoming {
        flex-basis: 45%;
    }
    #new-content {
        flex-basis: 100%;
    }
}

@media(min-width: 1024px) {
    .nav-toggle {
        display: none;
    }
    .desktop-nav {
        display: inline-block !important;
    }
    .main-nav {
        display: inline-block !important;
    }
    #journal,
    #upcoming,
    #new-content {
        flex-basis: 33%;
    }
}