.quote-container {
    text-align: center;
    color: $dark-blue;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $off-white;
    border-bottom: 3px solid $dark-blue;
    h2 {
        margin: 0;
    }
}