* {
    font-family: 'Montserrat', sans-serif;
}

#intro {
    display: flex;
    height: 400px;
    background-image: url('../img/book-stack-jan-mellstrom-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}